* {
  color: black;
  font-family: sans-serif;
}
body {
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
/* change border when clicked */
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 214, 252);
}
/* outline soal */
hr {
  width: 100%;
}
/* header section */
.header {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.header .title {
  font-weight: 900;
  font-size: x-large;
}
.header .btngroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .btn {
  color: rgb(0, 132, 193);
  font-weight: bold;
  font-size: large;
  width: 100%;
  height: 40px;
  text-decoration: none;
  background-color: white;
  border: 0;
  margin-bottom: 10px;
  border-radius: 5px;
}
.header .btn.active {
  background-color: rgb(0, 132, 193);
  color: rgb(255, 255, 255);
  border: 1px rgb(0, 214, 252) solid;
}
.header .btn:hover {
  background-color: rgb(0, 132, 193);
  color: rgb(255, 255, 255);
  border: 1px rgb(0, 214, 252) solid;
  border-radius: 10px;
}
/* body section and selector including all calculation ui */
.body {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 85vh;
  border: 1px rgba(0, 0, 0, 0.192) solid;
  padding: 10px;
}
.body .selector button {
  border: 0;
  background-color: white;
  width: 60px;
  height: 25px;
  font-weight: 600;
}
.body .selector button:hover {
  background-color: rgb(0, 132, 193);
  width: 60px;
  height: 25px;
  color: white;
  border-radius: 5px;
}
/* style applied when triggered by javascript event by adding active class */
.body .selector button.active {
  background-color: rgb(0, 132, 193);
  width: 60px;
  height: 25px;
  color: white;
  border-radius: 5px;
}
.card {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 8px;
}
.card .title {
  text-align: center;
  line-height: 50px;
  background-color: rgb(0, 132, 193);
  height: 50px;
  font-weight: 900;
  font-size: larger;
  color: white;
}
.card .subtitle {
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-weight: 700;
  font-size: larger;
}
.card .img {
  margin: auto;
  width: 50%;
  text-align: center;
}
.soal {
  margin: auto;
  width: 50%;
  text-align: center;
}
.card .desc p {
  text-align: start;
}
.card .desc h2 {
  text-align: center;
}
.calculator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.calculator input {
  align-self: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px rgb(193, 193, 193) solid;
  height: 30px;
  border-radius: 7px;
}
/* calculate button */
.calculator button {
  border: 1px rgb(193, 193, 193) solid;
  background-color: rgb(0, 132, 193);
  height: 40px;
  border-radius: 6px;
  color: white;
  padding: 10px;
  font-size: large;
  margin: 0 auto;
}
/* reset button */
.body .reset {
  display: flex;
  justify-content: end;
  align-items: center;
}
button.reset {
  border: 1px rgb(193, 193, 193) solid;
  background-color: rgb(228, 167, 0);
  height: 40px;
  border-radius: 6px;
  color: white;
  padding: 10px;
  font-size: large;
  text-align: center;

  margin-bottom: 30px;
}
/* default kel invisible */
#hitungKel {
  display: none;
}
button:hover {
  cursor: pointer;
  filter: opacity(0.8);
}
/* footer section */
.footer {
  background-color: rgb(0, 132, 193);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  margin-top: 40px;
  margin-left: 0;
}
.footer h4 {
  margin: 0;
  color: white;
  font-size: larger;
  font-weight: 700;
}
.footer p {
  color: rgb(193, 217, 254);
  font-weight: 500;
}
